<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Login Page</title>
</head>
<body>
  <div class="outer_wrapper">
    <div class="img_wrapper child">
      <img src="../static/images/todoimg.jpg" width="80%">
    </div>
    <div class="login_wrapper child">
    <h1 style="text-align: center;">Login</h1>
    {% if not login %}
    <form action="/registration" method="GET" class="container">
    <div class="alert alert-info d-flex justify-content-between" role="alert">
       {{msg}}
      <button type="submit" class="btn btn-primary">SignUp</button>
    </div>

      </form>
    {% endif%}
    <form action="/login" method="POST" class="container">
        <div class="form-group">
            <label for="exampleInputEmail1">User name:</label>
            <input type="text" class="form-control" id="exampleInputtext" name="username" aria-describedby="textHelp" placeholder="Enter username" required>
          </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password:</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" required>
        </div>
        <div class="text-right">
        <button type="submit" class="btn btn-primary">Submit</button>

        </div>
      </form>
    </div>
    </div>
</body>
</html>